.card {
  height: 400px;

  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 0px 30px 30px 30px;
  margin: 20px 0px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 100;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.card-description h2 {
  font-size: 24px;
}

.card-description a {
  color: #fff;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
